#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Define a class for the onClick styles */
.clicked {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;

}

/* div posts */
.posts {
  background-color: #363636; /* Example: change background color */
  color: #ffffff; /* Example: change text color */
  border-color: #67666600; /* Example: change border color */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.customerDetails {
  background-color: #363636; /* Example: change background color */
  color: #ffffff; /* Example: change text color */
  border-color: #67666600; /* Example: change border color */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.nappi {
  background-color: #363636; /* Example: change background color */
  color: #ffffff; /* Example: change text color */
  border-color: #67666600; /* Example: change border color */
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
}

.messagePositive {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.messageNegative {
  background-color: #f44336; /* Red */
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}